ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
body h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* common */
/* header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  margin-right: 76px;
}

.header-logo .part-logo {
  color: #2e2f42;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  align-items: center;
  gap: 40px;
  display: none;
}
.contacts-list {
  align-items: center;
  gap: 40px;
  display: none;
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn-icon {
  fill: #2e2f42;
  stroke: #2e2f42;
}
.header-btn {
  line-height: 0;
  padding: 0;
  border: none;
  background: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
}
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.menu-link:hover::after,
.menu-link:focus::after {
  content: '';
  position: absolute;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
  }
  .contacts-list {
    display: block;
  }
  .header-btn {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    display: flex;
  }
}

/* /header */
/* main */
/* main-section */
.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-offie-mobile.jpg);
  background-size: cover;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 72px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;

  margin-bottom: 80px;
  max-width: 216px;
}
.main-button {
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  min-height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}
@media screen and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-offie-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-offie-tablet.jpg);
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  h1 {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-offie-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop.jpg);
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  h1 {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop@2x.jpg);
  }
}
/* /main-section */
/* benefits */

.benefits-icon-wrapper {
  display: none;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.benefits-tittle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-tittle {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
    height: 112px;
  }
  .benefits-list {
    flex-wrap: nowrap;
  }
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-text {
    font-weight: 400;
  }
}
/* /benefits */
/* team */
.team-section {
  background: #f4f4fd;
  text-align: center;
  text-transform: capitalize;
}
.team-section .sub-tittle {
  margin-bottom: 72px;
}
.team {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
  flex-wrap: wrap;
}
.memeber-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.member-tittle {
  margin-bottom: 8px;
}

.members {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.member-position {
  margin-bottom: 8px;
}
.social-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 0;
  padding: 12px 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon {
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team {
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    flex-wrap: nowrap;
  }
} /* /team */
/* portfolio */
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portf-section .sub-tittle {
  margin-bottom: 72px;
}
.portf-tittle {
  margin-bottom: 8px;
}
.portf-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
}
.portf-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .portfolio {
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    row-gap: 48px;
  }
  .portf-item {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portf-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* /portfolio */
/* /main */
/* footer */
.page-footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 72px;
}
.footer-logo .part-logo {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  max-width: 288px;
  text-align: start;
}
.social-media {
  color: #fff;
  font-weight: 500;
}
.main-social-link {
  padding: 8px 8px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.main-social-link-list {
  padding: 0 0;
  margin: 0 0;
  gap: 16px;
}
.social-media {
  margin-bottom: 16px;
}
.footer-form-tittle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-form-input {
  min-width: 288px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
}
.footer-form-input::placeholder {
  color: #fff;
}
.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  color: #fff;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}
.footer-form-icon {
  margin-left: 16px;
  fill: #fff;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
  .footer-logo-side {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-container {
    align-items: baseline;
    padding-left: 108px;
    padding-right: 164px;
    gap: 0;
    justify-content: start;
    text-align: start;
  }

  .footer-form-input {
    min-width: 264px;
  }
  .footer-form {
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    padding: 0 16px;
  }
  .page-footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-logo-side {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-social-link-wrapper {
    margin-right: 80px;
  }
}
/* /footer */
/* modal */
.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #fff;
  background-color: #404bbf;
  border: none;
  outline: none;
}
.modal-slogan {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}
.modal-form {
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: #8e8f99;
}
.form-input {
  width: 256px;
  height: 40px;
  padding: 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment {
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-field-label {
  margin-bottom: 4px;
  display: block;
}
.form-field-input-wrapper {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-wrapper {
  margin-bottom: 8px;
}
.form-field-textarea-wrapper {
  margin-bottom: 16px;
}
.modal-form-chekbox-wrapper {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.accent-color {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.custom-chekbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
  min-width: 16px;
  height: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-chekbox:checked + .form-field-chekbox-label > .custom-chekbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.modal-form-chekbox:focus + .form-field-chekbox-label > .custom-chekbox {
  border-color: #404bbf;
}
.form-field-chekbox-label {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .form-input {
    width: 360px;
  }
}
@media screen and (min-width: 1158px) {
}
/* /modal */
.mobile-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  min-width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.mobile-menu-close-btn {
  background: transparent;
}
.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-link::after {
  display: none;
}
.mobile-menu-social-link-list {
  display: flex;
  gap: 40px;
}
.is-open {
  opacity: 1;
  pointer-events: auto;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
